:root {
    --main-grey: #b5b5b5;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer {
    position: relative;
}

.messages-block {
    height: calc(100vh - 130px);
    overflow: auto;
    box-shadow: inset 1px 1px 6px 1px var(--main-grey)
}

.history.messages-block {
    height: calc(100vh - 80px);
}

.MuiButton-root.send-button {
    position: absolute;
    right: 20px;
    top: 5px;
}

.MuiButton-root.header-button {
    margin: 5px;
}

.anonymous {
    color: var(--main-grey);
}

.align-center {
    text-align: center;
}